@import "tailwindcss";

@theme inline {
  --font-condensed: 'Roboto Condensed', sans-serif;
}

:root {
  --background: #ffffff;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-condensed: 'Roboto Condensed', sans-serif;
 
}

@theme {
  --color-primary: #0DA1FF;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  
  color: var(--foreground);
  font-family: 'oswald', Helvetica, Arial, sans-serif;
}
