@import "tailwindcss";

@theme inline {
  --font-condensed: 'Roboto Condensed', sans-serif;
}

:root {
  --background: #ffffff;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-condensed: 'Roboto Condensed', sans-serif;
 
}

@theme {
  --color-primary: #FF6300;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  
  color: var(--foreground);
  font-family: 'oswald', Helvetica, Arial, sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 80s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
  
}
